<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>kmeans</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1> Nearest charging station</h1>
        <hr>
        <form actions="result">
            latitude : <input type="float" name="latitude" required><br>
            longitude : <input type="float" name="longitude" required><br>
            <input type="submit">
        </form>
        <script src="" async defer></script>
    </body>
</html>